*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: black;
}
header{
    background-color: bisque;
}

section{
    background-color: darksalmon;
}
h1{
    color: aliceblue;
}
p{
    color: white
}