/*Projects CSS*/
* {
    padding: 10 px;
    margin: 0;
    font-family: 'KumarOne-Regular.ttf';
}

body {
    background-image: 
        linear-gradient(to bottom, rgba(23, 0, 59, 0.5),rgba(23, 0, 59, 0.5)), 
        url(../pictures/background.png);
    background-size: cover;
}

.main {
    max-width: 2000px; /* sets max width of everything inside .main */
}

/* Styling for tabs in top right corner */
ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block; /* sets tabs horizontal */
}

ul li a {
    text-decoration: none;
    color: white; /* color of tab lettering */
    padding: 5px 20px; /* sets height and width of tabs */
    border: 1px solid transparent; /* border color on tabs */
    transition: 0.4s ease; /* length of transition when hovering */

}

 ul li a:hover {
     background-color: white; /* changes color of tab background when hovering */
     color: #220055; /* changes color of lettering for tabs when hovering */

 }

 ul li.active a {
     background-color: white; /* sets color of tab background when active */
     color: #220055; /* sets color of lettering for tabs when active */

 }

 /*styling for project buttons*/

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Fixed 4 columns */
    gap: 20px; /* Space between buttons */
    padding: 20px;
    justify-content: center; /* Center the grid horizontally */
}

/* Style individual buttons */
.button {
    text-decoration: none;
    display: block;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s, border-color 0.2s;
}

/* Style the images inside buttons */
.button img {
    display: block;
    width: 100%;
    height: auto;
}

/* Add hover effect */
.button:hover {
    transform: scale(1.05);
    color: rgba(102, 51, 153, 0.5);
}


 /* Styling for logo */
.logo img {
    float: left; /* sets logo on left side of screen*/
    width: 75px; /* sets width of logo in pixels*/
    height: auto; /* adjusts height based on width to maintain aspect ratio*/
    margin-top: 10px;
    margin-left: 10px;
}